.answerBox{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	background-color: white;
	display: none;
}

.index{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	display: none;
}

#demoBox{
	position: absolute;
	width: 200px;
}

#files{
	position: absolute;
	left: 400px;
	top: 100px;
	display: none;
	width: 300px;
}

#uploadText{
	position: absolute;
	left: 600px;
	top: 300px;
	display: none;
}

#number{
	position: absolute;
	left: 400px;
	top: 100px;
	width: 400px;
}

.navbar{
	background-color: #3F51B5;
	border: none;
	transition: background-color 0.5s;
}

.navbarscroll{
	background-color: #f6f9fa;
	border: none;
	transition: background-color 0.5s;
}

.navbutton{
	font-size: 1.5em;
	color: #f6f9fa!important;
	background-color: #3F51B5;
	-webkit-transition: color 0.5s, background-color 0.5s;
	transition: color 0.5s, background-color 0.5s;
	}

.navbutton:hover{
	background-color: #f6f9fa!important;
	color: #3F51B5!important;
}

.navbuttonscroll{
	font-size: 1.5em;
	color: #3F51B5;
	background-color: #f6f9fa;
	-webkit-transition: color 0.5s, background-color 0.5s;
	transition: color 0.5s, background-color 0.5s;
}

.navbuttonscroll:hover{
	background-color: #3F51B5;
	color: #f6f9fa;
}

#createFile{
	background-color: #3F51B5;
}
